header{
    width: 100%;
    height: 80px;
    background-color: #21C08b;
    display: flex;
    justify-content: space-between;
    /* alinear elementos verticalmente */
    align-items: center;
}

body{
    margin: 0px;
    background-color: white;
    /* Aplicando font */
    font-family: 'Muli', sans-serif;
}
    .header__img{   
    width: 200px;margin-top: 10px;
    margin-left: 10px;
    }
    .header__menu{
        margin-right: 60px;
    }

    .header__menu ul{
        display: none;
        list-style: none;
        padding: 0px;
        position: absolute;
        width: 100 px;
        text-align: right;
        margin: 0px 0px 0px 0px;
    }
    .header__menu:hover ul, ul:hover{
        /* para mostrar al momento de hacer hover sobre las ul */
        display: block;
    }.header__menu:hover a, a:hover{
        /* para mostrar al momento de hacer hover sobre las ul */
        display: block;
    }
    .header__menu li{
        margin: 10px 0px;
    }

    .header__menu li a{
       color: white;
       text-decoration: none;
    }
    .header__menu li a:hover{
       text-decoration: underline;
    }
    .header__menu--profile{
        padding: 0px;
        display: flex;
        align-items: center;

    }
    .header__menu--profile img{

        margin-right: 8px;
        width: 40px;
        height: 40px;
    }
    .header__menu--profile p{
       color: white;
       margin: 0px;
   }

   .login{
    background:linear-gradient( #21C08b,#8e57ed);
    /* propiedad para ubicar los elementos */
    display: flex;
    /* alinear en vertical*/
    align-items: center;
    /* alinear en horizontal*/
    justify-content: center;
    /* alinear de arriva hacia abajo*/
    flex-direction: column;
    padding: 0px,30px;
    /* valor para definir altura por defecto indiferente de el tamaño de la pantalla */
    min-height:cal(100vh - 200px) /* medida relativa de lo que el usuario ve */;
}

   .login__container{
       background:rgba(255, 255, 255, 0.1);
       border: 2px solid white ;
       border-radius: 40px;
       /* color del texto */
       color: white;
       padding: 60px 68px 40px;
       min-height: 700px;
       width: 300px;

       display: flex;
       justify-content: space-between;
        flex-direction: column;
    }
   .login__container--form{
    display: flex;
    flex-direction: column;


   }
   .login__container--form label{
    font-size: 14px ;
   }

   .login__container--remember-me{
    color: white;
    display: flex;
    /* espacio entre los elementos */
    justify-content: space-between;
    margin-top: 10px;
   }
   .login__container--remember-me a{
    color: white;
    /* espacio entre los elementos */
    justify-content: space-between;
    text-decoration: none;
    font-size: 14px ;

   }
   .login__container--remember-me a:hover{
    text-decoration: underline;
}

.login__container--social-media{
    padding: 25px 0px;
}
.login__container--social-media div{
display: flex;
align-items: center;
font-size: 14px;
margin-bottom: 10px ;
}

.login__container--social-media__icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.login__container--register{
    font-size: 14px;
display: flex;
justify-content: space-between;
}
.login__container--register a{
    color: white;
    /* espacio entre los elementos */
    font-weight: bold;
    text-decoration: none;
    font-size: 16px ;

   }
   .login__container--register a:hover{
    text-decoration: underline;
   }

   .input
   {
       background-color: transparent;
       border-left: 0px;
       border-top: 0px;
       border-right: 0px;
       border-bottom: 2px solid white;
       font-size: 16px;
       font-family: 'Muli', sans-serif;
       margin-bottom: 20px;
       padding: 0px 20px;
       outline: none;
       height: 50px;
       color: white;
   }
   .input::placeholder {
      color: white;
   }

   .button{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 10px 0px;
   }

   .footer{
       display: flex;
       align-items: center;
       height: 100px;
       width: 100%;
       background-attachment: fixed;
       background: #8e57ed;
       
   }
.footer a{
color: white;
cursor: pointer;
font-size: 14px;
padding-left: 30px;
text-decoration: none;
}
.footer a:hover{
text-decoration:underline ;
}



.register{
    background:linear-gradient( #21C08b,#8e57ed);
    /* propiedad para ubicar los elementos */
    display: flex;
    /* alinear en vertical*/
    align-items: center;
    /* alinear en horizontal*/
    justify-content: center;
    /* alinear de arriva hacia abajo*/
    flex-direction: column;
    padding: 0px,30px;
    /* valor para definir altura por defecto indiferente de el tamaño de la pantalla */
    min-height:cal(100vh - 200px) /* medida relativa de lo que el usuario ve */;
}


.register__container{
    background:rgba(255, 255, 255, 0.1);
    border: 2px solid white ;
    border-radius: 40px;
    /* color del texto */
    color: white;
    padding: 60px 68px 40px;
    min-height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
     flex-direction: column;
 }
 .register__container--form{
    display: flex;
    display: flex;
    flex-direction: column; 
    justify-content: center;
   }

   /* .register__container--form a {
       color: white;
       display: flex;
        justify-content: center;
        text-decoration: none;
        margin:56px 0px;
        padding: 0px 0px;
        width: 150;
    }
    
    .register__container--form a:hover {
        
        text-decoration: underline;
        cursor: pointer;
} */

.register__container--form__Login{
    color: white;
    display: flex;
    /* espacio entre los elementos */
    justify-content: center;
    margin: 56px 0px ;

}

.register__container--form__Login a{
    color: white;
    font-weight: bold;
    /* espacio entre los elementos */
    justify-content: space-between;
    text-decoration: none;
    font-size:16px ;

   }
   .register__container--form__Login a:hover{
    text-decoration: underline;
   }

/* MEDIA QUERIES, Para medidas responsivas */
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 70%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}